*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.nav_overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    box-shadow: 0 0 10px rgb(51 50 50 / 75%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.title{
    font-size: 30px;
    margin-left: 24px;
}

.nav a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 15px;
    color: #000;
}

.content{
   margin-top: 110px;
   height: 500px;
   display: flex;
   justify-content: center;
}

.place-list{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 16px 16px;
    background-color: #5dd1eb78;
    border-radius: 15px;
    box-shadow: 5px 12px rgba(204, 204, 204, 0.521);
    box-shadow: 5px 12px 18px rgb(173 172 172 / 52%);
}

.place-item{
    padding: 0px 21px 30px;
}

.place-item img{
    width: 280px;
    border-radius: 16px;
}

.place-item p{
    text-align: center;
    font-style: italic;
    font-size: 19px;
    line-height: 30px;
    font-weight: 600;
}

.nav-mobile-btn{
    display: none;
}

.nav_mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width: 320px;
    max-width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: transform linear 0.2s, opacity linear 0.3s;
    
}

.nav_mobile-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
}

.nav__mobile-list{
    margin-left: 42px;
    margin-top: 64px;
}

.nav__mobile-link{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    margin-bottom: 34px;
    display: block;
}

.nav_input:checked ~ .nav_overlay{
    display: block;
}

.nav_input:checked ~ .nav_mobile{
    transform: translateX(0%);
    opacity: 1;
}

.nav_mobile-close:hover,
.nav_overlay:hover,
.nav-mobile-btn:hover{
    cursor: pointer;
}
/* Mobile and Tablet */
@media only screen and (max-width: 1023px){
    .content{
        height: 100%;
    }
    .place-list{
        flex-direction: column;
        width: 80%;
    }
    .place-item{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .place-item img {
        border-radius: 16px;
        width: 100%;
    }
    .title{
        font-size: 25px;
        margin-left: 10px;
    }
    .place-item{
        padding-bottom: 16px;
    }

}

/* Mobile */
@media only screen and (max-width: 739px){
    .title{
        font-size: 25px;
        margin-left: 10px;
    }
    .nav a{
         margin-right: 15px;
        font-size: 12px;
    }
    .place-item p{
        font-size: 18px;
    }
    .nav{
        display: none;
    }

    .nav-mobile-btn {
        display: block;
        font-size: 24px;
        margin-right: 8px;
    }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px){
    .place-item p{
        font-size: 22px;
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
